nav{
	float: right;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
}
.logo{
	padding: 10px;
	position: relative;
	left: 800px;
	top: 150px;
}
.formulario{
	position: relative;
	left: 800px;
	top: 150px;

}